In [2]:
from utilities.data_loader import load_modeling_data
import pandas as pd

In [3]:
import re
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from time import time


from nltk.tokenize import WordPunctTokenizer

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import metrics
from sklearn.model_selection import StratifiedKFold
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import f1_score, fbeta_score, precision_score, recall_score
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import roc_curve
from nltk.stem import WordNetLemmatizer 
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.pipeline import Pipeline
from sklearn.calibration import CalibratedClassifierCV

SEED = 15432

In [4]:
train_data, train_labels = load_modeling_data()

In [5]:
train_data.shape

(1040323, 1)

In [6]:
train_data['target']=train_labels['target']

In [7]:
train_data

                                                      text    target
id
0                        Anyway Im getting of for a while   positive
1        My red, Apache isn't feelin too well this morn...  negative
2        @danyelljoy you should be  its great. friday w...  positive
3        its 11:30pm and i dont wanna sleep; so i debat...  positive
4                Why does twitter eat my DM's?  Not happy   negative
...                                                    ...       ...
1040318                      getting ready 2 watch mental   positive
1040319  Wristcutters and Half Nelson are on Sundance F...  negative
1040320  @t_isfortammy Going out in Northbridge makes m...  negative
1040321  @iModel_ lol.... Gorgeous...lol! U look sooo m...  positive
1040322                             @iamjonathancook why?   negative

[1040323 rows x 2 columns]

In [8]:
train_data

                                                      text    target
id
0                        Anyway Im getting of for a while   positive
1        My red, Apache isn't feelin too well this morn...  negative
2        @danyelljoy you should be  its great. friday w...  positive
3        its 11:30pm and i dont wanna sleep; so i debat...  positive
4                Why does twitter eat my DM's?  Not happy   negative
...                                                    ...       ...
1040318                      getting ready 2 watch mental   positive
1040319  Wristcutters and Half Nelson are on Sundance F...  negative
1040320  @t_isfortammy Going out in Northbridge makes m...  negative
1040321  @iModel_ lol.... Gorgeous...lol! U look sooo m...  positive
1040322                             @iamjonathancook why?   negative

[1040323 rows x 2 columns]

In [9]:
import matplotlib.pyplot as plt

In [10]:
import re

In [11]:
def replace_exclamations(x):
    """ Replaces multiple exclamation marks by the word exclamationMark """
    x = re.sub('(\! )+(?=(\!))', '', x)
    x = re.sub(r"(\!)+", ' exclamationMark ', x)
    return x

def replace_points(x):
    """ Replaces multiple points by the word multiplePoints """
    x = re.sub('(\. )+(?=(\.))', '', x)
    x = re.sub(r"(\.)+", ' multistop ', x)
    return x


def replace_questions(x):
    """ Replaces multiple question marks by the word questionMark """
    x = re.sub('(\? )+(?=(\?))', '', x)
    x = re.sub(r"(\?)+", ' questionMark ', x)
    return x

def tokenization(text):
    text = re.split('\W+', text)
    return text

def lemmatizer(l,text):
    text = [l.lemmatize(word) for word in text]
    return text

def join_tokens(tokens):
    text = ' '.join(tokens)
    return text
def translate_emojis(x):
    """ Replace emojis into meaningful words """
    
    x = re.sub(' [:,=,8,;]( )*([\',\"])*( )*(-)*( )*[\),\],},D,>,3,d] ', ' happy ', x) #:) :D :} :] :> :') :'D :-D :-)
    x = re.sub(' [\(,\[,{,<]( )*([\',\"])*( )*[:,=,8,;] ', ' happy ', x) #inverted happy 
    x = re.sub(' [X,x]( )*D ', ' funny ', x) #XD xD
    x = re.sub(' ^( )*[.,~]( )*^ ', ' happy ', x) #^.^  ^ ~ ^  
    x = re.sub(' ^( )*(_)+( )*^ ', ' happy ', x) #^__^
    
    x = re.sub(' [:,=,8,;]( )*([\',\"])*( )*(-)*( )*[\(,\[,{,<] ', ' sad ', x) #:( :{ :[ :< :'(
    x = re.sub(' [\),\],},D,>,d]( )*(-)*( )*([\',\"])*( )*[:,=,8,;] ', ' sad ', x) #inverted sad
    x = re.sub(' >( )*.( )*< ', ' sad ', x) #>.<
    x = re.sub(' <( )*[ \/,\\ ]( )*3 ', ' sad ', x) #3
    
    x = re.sub(' [:,=,8]( )*(-)*( )*p ', ' silly ', x) #:p :-p
    x = re.sub(' q( )*(-)*( )*[:,=,8] ', ' silly ', x) #silly inverted
    
    x = re.sub(' [:,=,8]( )*$ ', ' confused ', x) #=$ 8$
    x = re.sub(' [:,=,8]( )*@ ', ' mad ', x) #:@
    x = re.sub(' [:,=,8]( )*(-)*( )*[\/,\\,|] ', ' confused ', x) #:/ :\
    x = re.sub(' [\/,\\,|]( )*(-)*( )*[:,=,8] ', ' confused ', x) #confused inverted
    
    x = re.sub(' [:,=,8,;]( )*(-)*( )*[o,0] ', ' surprised ', x) #:o :-O
    
    x = re.sub(' [x,X]+ ', ' kiss ', x) #xXxX
    x = re.sub(' ([x,X][o,O]){2,} ', ' kiss ', x) #xoxo
    x = re.sub(' [:,=,8,;]( )*\* ', ' kiss ', x) #:* =*
    x = re.sub(' <( )*3 ', ' love ', x) #<3
    
    x = re.sub('#', ' hashtag ', x) #hashtag
    x = re.sub('&', ' and ', x) #&
    x = re.sub(' \(( )*y( )*\) ', ' yes ', x) #(y)
    x = re.sub(' w( )*/ ', ' without ', x) #w/
    
    x = re.sub(' ([h,j][a,e,i,o]){2,} ', ' haha ', x) #hahah
    x = re.sub(' (a*ha+h[ha]*|h*ah+a[ah]*|o?l+o+l+[ol]*) ', ' haha ', x) #hhaha,aahha,lool
    x = re.sub(' (i*hi+h[hi]*|h*ih+i[ih]*|h*oh+o[oh]*|h*eh+e[eh]*) ', ' haha ', x) #hihi, hoho, hehe
    return x
def split_negation(text):
    negations_dict = {"isn't":"is not", "aren't":"are not", "wasn't":"was not", "weren't":"were not",
                    "haven't":"have not","hasn't":"has not","hadn't":"had not","won't":"will not",
                    "wouldn't":"would not", "don't":"do not", "doesn't":"does not","didn't":"did not",
                    "can't":"can not","couldn't":"could not","shouldn't":"should not","mightn't":"might not",
                    "mustn't":"must not","ain't":"is not"}
    neg_pattern = re.compile(r'\b(' + '|'.join(negations_dict.keys()) + r')\b')
    text = neg_pattern.sub(lambda x: negations_dict[x.group()], text)
    return text

def replace_contractions(text):
    contractions_dict = {"i'm":"i am", "wanna":"want to", "whi":"why", "gonna":"going to",
                    "wa":"was","nite":"night","there's":"there is","that's":"that is",
                    "ladi":"lady", "fav":"favorite", "becaus":"because","i\'ts":"it is",
                    "dammit":"damn it", "coz":"because", "ya":"you", "dunno": "do not know",
                    "donno":"do not know","donnow":"do not know","gimme":"give me"}
    contraction_pattern = re.compile(r'\b(' + '|'.join(contractions_dict.keys()) + r')\b')
    text = contraction_pattern.sub(lambda x: contractions_dict[x.group()], text)
    
    contraction_patterns = [(r'ew(\w+)', 'disgusting'),(r'argh(\w+)', 'argh'),(r'fack(\w+)', 'fuck'),
                            (r'sigh(\w+)', 'sigh'),(r'fuck(\w+)', 'fuck'),(r'omg(\w+)', 'omg'),
                            (r'oh my god(\w+)', 'omg'),(r'(\w+)n\'', '\g<1>ng'),(r'(\w+)n \'', '\g<1>ng'),
                            (r'(\w+)\'ll', '\g<1> will'),(r'(\w+)\'ve', '\g<1> have'),(r'(\w+)\'s', '\g<1> is'),
                            (r'(\w+)\'re', '\g<1> are'),(r'(\w+)\'d', '\g<1> would'),(r'&', 'and'),
                            ('y+a+y+', 'yay'),('y+[e,a]+s+', 'yes'),('n+o+', 'no'),('a+h+','ah'),('m+u+a+h+','kiss'),
                            (' y+u+p+ ', ' yes '),(' y+e+p+ ', ' yes '),(' idk ',' i do not know '),(' ima ', ' i am going to '),
                            (' nd ',' and '),(' dem ',' them '),(' n+a+h+ ', ' no '),(' n+a+ ', ' no '),(' w+o+w+', 'wow '),
                            (' w+o+a+ ', ' wow '),(' w+o+ ', ' wow '),(' a+w+ ', ' cute '), (' lmao ', ' haha '),(' gad ', ' god ')]
    patterns = [(re.compile(regex_exp, re.IGNORECASE), replacement)
                for (regex_exp, replacement) in contraction_patterns]
    for (pattern, replacement) in patterns:
        (text, _) = re.subn(pattern, replacement, text)
    return text

In [12]:
def tweet_cleaner(tweet):
    #Add trailing and leading whitespaces for the sake of preprocessing
    tweet = ' '+tweet+' '
    #translate emojis
    tweet = translate_emojis(tweet)
    #lowercase tweet
    tweet = tweet.lower()
    #seperate negation words
    tweet = split_negation(tweet)
    #seperate punctuation from words
    tweet = re.sub(r"([\w/'+$\s-]+|[^\w/'+$\s-]+)\s*", r"\1 ", tweet)
    #remove the observed pattern of numbers seen above
    tweet = re.sub(r'\\ [0-9]+ ', '', tweet)
    #replace ?,!,. by words
    tweet = replace_exclamations(tweet)
    tweet = replace_questions(tweet)
    tweet = replace_points(tweet)
    
    #Now since we translated punctuation and emojis and negative words we can remove the rest of the 'unwanted' chars
    #remove unwanted punctuation
    tweet = re.sub("[^a-zA-Z]", " ", tweet)
    
    #remove trailing and leading whitespace
    tweet = tweet.strip() 
    #remove multiple consecutive whitespaces
    tweet = re.sub(' +', ' ',tweet) 
    
    #Lemmatization
    l = WordNetLemmatizer() 
    tweet = tokenization(tweet)
    tweet = join_tokens(lemmatizer(l,tweet))
    return tweet

In [13]:
train_data['text'] = train_data['text'].apply(tweet_cleaner)

In [14]:
train_data.to_csv("./data/train_cleaned.csv")

In [15]:
train_set = pd.read_csv("./data/train_cleaned.csv", index_col=0)

In [16]:
train_set

                                                      text    target
id
0                         anyway im getting of for a while  positive
1        my red apache is not feelin too well this morn...  negative
2        danyelljoy you should be it great multistop fr...  positive
3        it pm and i dont wanna sleep so i debated with...  positive
4        why doe twitter eat my dm s questionMark not h...  negative
...                                                    ...       ...
1040318                         getting ready watch mental  positive
1040319  wristcutters and half nelson are on sundance f...  negative
1040320  t isfortammy going out in northbridge make me ...  negative
1040321  imodel lol multistop gorgeous multistop lol ex...  positive
1040322                   iamjonathancook why questionMark  negative

[1040323 rows x 2 columns]

In [17]:
x_train, x_validation, y_train, y_validation = train_test_split(train_set['text'], train_set['target'], test_size=.2, random_state=SEED)

In [18]:
def replacer(text):
    if text=='positive':
        text = 2
    elif text=='negative':
        text=0
    else:
        text=1
    return text

In [19]:
y_train = y_train.apply(replacer)
y_validation = y_validation.apply(replacer)

In [20]:
print("Train set has total {0} entries with {1:.2f}% negative, {2:.2f}% neutral and {3:.2f}% positive".format(len(x_train),
                                                                             (len(x_train[y_train == 0]) / (len(x_train)*1.))*100,
                                                                            (len(x_train[y_train == 1]) / (len(x_train)*1.))*100,
                                                                            (len(x_train[y_train == 2]) / (len(x_train)*1.))*100))

print( "Validation set has total {0} entries with {1:.2f}% negative, {2:.2f}% neutral and {3:.2f}% positve".format(len(x_validation),
                                                                             (len(x_validation[y_validation == 0]) / (len(x_validation)*1.))*100,
                                                                            (len(x_validation[y_validation == 1]) / (len(x_validation)*1.))*100,
                                                                            (len(x_validation[y_validation == 2]) / (len(x_validation)*1.))*100))

Train set has total 832258 entries with 49.94% negative, 0.01% neutral and 50.05% positive
Validation set has total 208065 entries with 50.06% negative, 0.01% neutral and 49.94% positve

In [21]:
count_vect = CountVectorizer(max_features=80000,ngram_range=(1, 3))
x_train_counts = count_vect.fit_transform(x_train)
print('Overall number of different words',len(count_vect.get_feature_names()))
x_validation_counts = count_vect.transform(x_validation)
clf = MultinomialNB().fit(x_train_counts, y_train)
y_predicted = clf.predict(x_validation_counts)
y_prob_predicted = clf.predict_proba(x_validation_counts)
print(f'Our model\'s accuracy is {metrics.accuracy_score(y_validation, y_predicted)}')

/opt/miniconda3/envs/ift6758-conda-env/lib/python3.10/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

Overall number of different words 80000
Our model's accuracy is 0.7942950520270108

In [22]:
tfidf_transformer = TfidfVectorizer(max_features=80000,ngram_range=(1, 3))
x_train_tfidf = tfidf_transformer.fit_transform(x_train)
print('Overall number of different words',x_train_tfidf.shape[1])
x_validation_tfidf = tfidf_transformer.transform(x_validation)

Overall number of different words 80000

In [23]:
clf = MultinomialNB().fit(x_train_tfidf, y_train)

y_predicted = clf.predict(x_validation_tfidf)
y_prob_predicted = clf.predict_proba(x_validation_tfidf)
print(f'Our model\'s accuracy is {metrics.accuracy_score(y_validation, y_predicted)}')

Our model's accuracy is 0.7980150433758681

In [24]:
clf = SGDClassifier(tol=1e-3, loss='modified_huber').fit(x_train_tfidf, y_train)

y_predicted = clf.predict(x_validation_tfidf)
y_prob_predicted = clf.predict_proba(x_validation_tfidf)
print(f'Our model\'s accuracy is {metrics.accuracy_score(y_validation, y_predicted)}')

Our model's accuracy is 0.8077235479297334

In [25]:
clf = CalibratedClassifierCV(base_estimator=LinearSVC(penalty='l2', dual=False), cv=3).fit(x_train_tfidf, y_train)

y_predicted = clf.predict(x_validation_tfidf)
y_prob_predicted = clf.predict_proba(x_validation_tfidf)
print(f'Our model\'s accuracy is {metrics.accuracy_score(y_validation, y_predicted)}')

Our model's accuracy is 0.8168456972580684

In [26]:
clf = LogisticRegression().fit(x_train_tfidf, y_train)

y_predicted = clf.predict(x_validation_tfidf)
y_prob_predicted = clf.predict_proba(x_validation_tfidf)
print(f'Our model\'s accuracy is {metrics.accuracy_score(y_validation, y_predicted)}')

Our model's accuracy is 0.8205512700358061

/opt/miniconda3/envs/ift6758-conda-env/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [90]:
test_data = pd.read_csv('data/test_data.csv', index_col=0)

In [91]:
test_data

                                                     text
id
0       so cut... missed out on all the TCE EXTREME ME...
1          Thank you very much Wasin  this is awesome lol
2       Squeezing in some internet time before Dustin ...
3       @fanoou; Oh i do have moral but i'm gonna be b...
4       @NSuissa   I just bought Sammy some joint/hip ...
...                                                   ...
560170  @meganintime So is mine and I've only got abou...
560171  @FairyForest Thanks cutie ) Wishing u a wonder...
560172  ok know i just got home my family just drop me...
560173  long run status: complete. Now time for church...
560174  @textualoffender Doestovesky yes,remaining 3 w...

[560175 rows x 1 columns]

In [92]:
test_data['text'] = test_data['text'].apply(tweet_cleaner)
test_data.to_csv('data/cleaned_test.csv')

In [109]:
x_train = pd.read_csv('data/train_data.csv', index_col=0)

In [110]:
y_train = pd.read_csv('data/train_results.csv', index_col=0)

In [111]:
y_train['target'] = y_train['target'].apply(replacer)

In [112]:
x_train['text'] = x_train['text'].apply(tweet_cleaner)

In [113]:
x_train

                                                      text
id
0                         anyway im getting of for a while
1        my red apache is not feelin too well this morn...
2        danyelljoy you should be it great multistop fr...
3        it pm and i dont wanna sleep so i debated with...
4        why doe twitter eat my dm s questionMark not h...
...                                                    ...
1040318                         getting ready watch mental
1040319  wristcutters and half nelson are on sundance f...
1040320  t isfortammy going out in northbridge make me ...
1040321  imodel lol multistop gorgeous multistop lol ex...
1040322                   iamjonathancook why questionMark

[1040323 rows x 1 columns]

In [114]:
y_train

         target
id
0             2
1             0
2             2
3             2
4             0
...         ...
1040318       2
1040319       0
1040320       0
1040321       2
1040322       0

[1040323 rows x 1 columns]

In [115]:
x_test = pd.read_csv('data/test_data.csv', index_col = 0)

In [116]:
x_test['text'] = x_test['text'].apply(tweet_cleaner)

In [117]:
x_test

                                                     text
id
0       so cut multistop missed out on all the tce ext...
1          thank you very much wasin this is awesome haha
2       squeezing in some internet time before dustin ...
3       fanoou oh i do have moral but i m gonna be big...
4       nsuissa i just bought sammy some joint hip sup...
...                                                   ...
560170  meganintime so is mine and i ve only got about...
560171  fairyforest thanks cutie wishing u a wonderful...
560172  ok know i just got home my family just drop me...
560173  long run status complete multistop now time fo...
560174  textualoffender doestovesky yes remaining will...

[560175 rows x 1 columns]

In [133]:
vectorizer = TfidfVectorizer(max_features=120000,ngram_range=(1, 3))

In [134]:
x_train_tfidf = vectorizer.fit_transform(x_train['text'])

In [135]:
x_train_tfidf

<1040323x9966527 sparse matrix of type '<class 'numpy.float64'>'
	with 39295257 stored elements in Compressed Sparse Row format>

In [ ]:
clf = LogisticRegression().fit(x_train_tfidf, y_train['target'].values)

In [ ]:
x_test_tfidf = vectorizer.transform(x_test['text'])

In [ ]:
y_predicted = clf.predict(x_test_tfidf)

In [ ]:
y_predicted = pd.DataFrame(y_predicted).reset_index()

In [ ]:
y_predicted.columns = ['id', 'target']

In [ ]:
y_predicted

In [132]:
y_predicted.to_csv('kaggle-submissions/logreg-tfidf-full-train.csv',index=False)

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer

In [14]:
train_data, train_labels = load_modeling_data()

In [15]:
import nltk
stopwords = nltk.corpus.stopwords.words('english')
import string

In [16]:
def tweet_cleaner(text):
#     Lowering the texts
    text= text.lower()
    
#     remove stopwords
    ls = text.split(' ')
    output = [i for i in ls if i not in stopwords]
    text = ' '.join(output)
    
#     removing punctuations
    text ="".join([i for i in text if i not in string.punctuation])
    
    return text

In [17]:
train_data

                                                      text
id
0                        Anyway Im getting of for a while
1        My red, Apache isn't feelin too well this morn...
2        @danyelljoy you should be  its great. friday w...
3        its 11:30pm and i dont wanna sleep; so i debat...
4                Why does twitter eat my DM's?  Not happy
...                                                    ...
1040318                      getting ready 2 watch mental
1040319  Wristcutters and Half Nelson are on Sundance F...
1040320  @t_isfortammy Going out in Northbridge makes m...
1040321  @iModel_ lol.... Gorgeous...lol! U look sooo m...
1040322                             @iamjonathancook why?

[1040323 rows x 1 columns]

In [18]:
train_data['text'] = train_data['text'].apply(tweet_cleaner)
train_data

                                                      text
id
0                                       anyway im getting
1         red apache feelin well morning  httpmypictme49n5
2                 danyelljoy  great friday great tooooooo
3        1130pm dont wanna sleep debated myself end dec...
4                                  twitter eat dms  happy
...                                                    ...
1040318                      getting ready 2 watch mental
1040319  wristcutters half nelson sundance free movies ...
1040320  tisfortammy going northbridge makes jealous yo...
1040321  imodel lol gorgeouslol u look sooo much like v...
1040322                               iamjonathancook why

[1040323 rows x 1 columns]

In [21]:
dict_vals  = {'positive': 2, 'neutral': 1,'negative': 0}
train_labels = train_labels['target'].apply(lambda x: dict_vals[x])

In [22]:
train_labels

id
0          2
1          0
2          2
3          2
4          0
          ..
1040318    2
1040319    0
1040320    0
1040321    2
1040322    0
Name: target, Length: 1040323, dtype: int64

In [25]:
x_train, x_validation, y_train, y_validation = train_test_split(train_data, train_labels, test_size = 0.2)

In [29]:
tfidf_transformer = TfidfVectorizer(max_features=80000,ngram_range=(1, 3))
x_train_tfidf = tfidf_transformer.fit_transform(x_train['text'])
print('Overall number of different words',x_train_tfidf.shape[1])
x_validation_tfidf = tfidf_transformer.transform(x_validation['text'])

Overall number of different words 80000

In [27]:
x_train

                                                     text
id
464182  derdevblogger 1and1 bad company hate them payp...
380587                                         going bed
849647                            need massage  hard day
205797  good morning  anyone following please follow w...
433060              good luck mileycyrus tonight  love yo
...                                                   ...
894299         eating sandwich cant wait till buy iphone
541694  dizzyup  httptwitpiccom7ly92  hell yeah yep 3g...
399266  quotdear john freaking mess  may need seek pro...
949563  tonight best beginning full tears baby always ...
60378   lifting lastfm boycott  actually pay   cant fi...

[832258 rows x 1 columns]

In [30]:
from sklearn.linear_model import LogisticRegression

In [32]:
from sklearn import metrics

In [34]:
clf = LogisticRegression(max_iter=500).fit(x_train_tfidf, y_train)

y_predicted = clf.predict(x_validation_tfidf)
y_prob_predicted = clf.predict_proba(x_validation_tfidf)
print(f'Our model\'s accuracy is {metrics.accuracy_score(y_validation, y_predicted)}')

Our model's accuracy is 0.791137384951818